@model Web_Xem_phim_CS_403.Models.Account

<div class="container my-4">
    <h2 class="text-center mb-4">Edit Account</h2>
    <form asp-action="Create" method="post">
        <div class="mb-3">
            <label asp-for="Email" class="form-label"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Password" class="form-label"></label>
            <input asp-for="Password" type="password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Name" class="form-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="RoleId" class="form-label"></label>
            <select asp-for="RoleId" class="form-control" asp-items="@(new SelectList(ViewBag.Roles, "Id", "RoleName"))">
                <option value="">Select Role</option>
            </select>
            <span asp-validation-for="RoleId" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>
