<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Web_Xem_phim_CS_403</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Admin/style.css" asp-append-version="true" />
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0/dist/css/select2.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Web_Xem_phim_CS_403.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-toggleable-sm navbar-light bg-dark border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand text-light" asp-area="User" asp-controller="Home" asp-action="Index">Phim Hay</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="User" asp-controller="Home" asp-action=""> <i class="bi bi-search"></i> Tìm kiếm</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="User" asp-controller="Home" asp-action="">Phim Hot</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="User" asp-controller="Home" asp-action="">Phim Lẻ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="User" asp-controller="Home" asp-action="">Phim Bộ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="User" asp-controller="Home" asp-action="">Phim Mới</a>
                        </li>
                    </ul>
                </div>

                <div class="dropdown">
                    <a href="#" class="d-flex align-items-center text-decoration-none dropdown-toggle" id="dropdownUserMenu" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="https://via.placeholder.com/40" alt="Avatar" class="rounded-circle" width="40" height="40">
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end text-small" aria-labelledby="dropdownUserMenu">
                        <li><a class="dropdown-item" asp-area="User" asp-controller="" >Tài khoản</a></li>
                        <li><a class="dropdown-item" asp-area="User" asp-action="" asp-controller="" >Donate</a></li>
                        <li><a class="dropdown-item" asp-area="Admin" asp-action="Index" asp-controller="Home" >Quản lý</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" asp-area="User" asp-action="" asp-controller="" >Đăng xuất</a></li>
                    </ul>
                </div>

            </div>
        </nav>
    </header>


    <div class="container-fluid">
        <div class="row">
            <!-- Sidebar Dashboard -->
            <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block bg-light sidebar vh-70 border-end">
                <div class="position-sticky">
                    <div class="sidebar-header mb-4">
                         <img src="https://via.placeholder.com/40" alt="Avatar" class="rounded-circle" width="40" height="40">
                    </div>
                    <ul class="nav flex-column">

                        <li class="nav-item">
                            <a class="nav-link" asp-area="Admin" asp-controller="User" asp-action="Index">
                                <i class="bi bi-people"></i> User
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" asp-area="Admin" asp-controller="Category" asp-action="Index">
                                <i class="bi bi-grid"></i> Category
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="Admin" asp-controller="Movie" asp-action="Index">
                                <i class="bi bi-film"></i> Movie
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" asp-area="Admin" asp-controller="Episode" asp-action="Index">
                                <i class="bi bi-bookmark-plus"></i> Episode
                            </a>
                        </li>
                        
                        <li class="nav-item">
                            <a class="nav-link" asp-area="Admin" asp-controller="Subtitle" asp-action="Index">
                                <i class="bi bi-translate"></i> Subtitle
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>

            <!-- Main Content -->
            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                @RenderBody()
            </main>
        </div>
    </div>

    <footer class=" footer text-muted">
        <div class="container text-body">
            &copy; 2024 - Web_Xem_phim_CS_403 
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0/dist/js/select2.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
